.myCard {
    border: 2px solid #a2b9bc;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: inline-block;
}






.myCardHeader {
    /*border-bottom: 2px solid #a2b9bc;*/
    border-radius: 4px 4px 0px 0px;
    background: #365c96 ;
    color: white;
    padding: 5px
}

.myCardBody {
    
}


